img{
    width: 420px;
    height: 420px;
    display: block;
    padding-top: 1rem;
    margin:auto;
}

.dimensions{
    width: 500px;
    height: 500px;
    background-color: lightcyan;
}

.div1{
    grid-row: 1/4;
    margin-left: 20px;
}

.div2{
    text-align: right;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 120px;
    row-gap: 2px;
}

